<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyou.dao.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyou.model.Dept" >
    <result column="deptno" property="deptno" jdbcType="INTEGER" />
    <result column="dname" property="dname" jdbcType="VARCHAR" />
    <result column="loc" property="loc" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.zhiyou.model.Dept" >
    insert into dept (deptno, dname, loc
      )
    values (#{deptno,jdbcType=INTEGER}, #{dname,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select deptno, dname, loc
    from dept
  </select>
</mapper>